@model Student
<form method="post">
    <div>
        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>

            <dt>Address</dt>
            <dd>@Html.DisplayFor(x => x.Address)</dd>

            <dt>Department Name</dt>
            <dd>@Model.Department.Name</dd>

            <dt>Email</dt>
            <dd>@Model.Name</dd>
        </dl>
        <input type="submit" value="Delete" class="btn btn-success" />
    </div>
</form>